  <% if @error %>
    <h2 style=color:red>
      <%= @error %>
    </h2>
  <% end %>

  <h2>Shorten it (no one ever said)</h2>

  Long URL:
  <form style="display:inline" action="/urls" method="post" name="the_viewpost_form">

    <input type="text" name="long_url" style="display:inline;width:300px" VALUE="http://">

    <input type="submit" value="Chomp it!" style="display:inline;margin-left:20px">

  </form>
  </br>
  </br>
  </br>
  <table width=80% border=1>
    <tr>
      <td>
        Short URL
      </td>
      <td>
        Long URL
      </td>
      <td>
        Click count
      </td>
    </tr>


    <% @urls.reverse.each do |url| %>
    <tr>
      <td>
        <a href="<%= url.short_url %>"><%= url.short_url %></a>
      </td>
      <td>
        <a href="<%= url.long_url %>"><%= url.long_url %></a>
      </td>
      <td>
        <%= url.click_count %>
      </td>
    </tr>
    <% end %>
  </table>


